/* Write your CSS here */
/* Write your CSS here */
.history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.history-paragraph {
  padding-left: 20px;
}